<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pintle>
			<logging>
				<defaultLogger type="Pintle.Diagnostics.LoggingService, Pintle.Diagnostics" singleInstance="true" >
					<param name="errorsLogger" ref="pintle/logging/providers/errorsLogger"/>
				</defaultLogger>
				<providers>
					<errorsLogger type="Pintle.Diagnostics.NLog.NLogLogProvider, Pintle.Diagnostics.NLog" 
												singleInstance="true" 
												logFilePath="$(dataFolder)/logs/log.errors.${date:format=yyyyMMdd}.txt">
						<param name="filePath">$(logFilePath)</param>
						<param name="logLevel">Error</param>
					</errorsLogger>
				</providers>
			</logging>
		</pintle>
	</sitecore>
</configuration>