<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pintle>
			<logging>
				<defaultLogger type="Pintle.Diagnostics.LoggingService, Pintle.Diagnostics" singleInstance="true" >
					<param name="debugLogger" ref="pintle/logging/providers/debugLogger"/>
					<param name="warnLogger" ref="pintle/logging/providers/warnLogger"/>
					<param name="errorLogger" ref="pintle/logging/providers/errorLogger"/>
				</defaultLogger>
				<providers>
					<errorLogger type="Pintle.Diagnostics.NLog.NLogLogProvider, Pintle.Diagnostics.NLog" 
											 singleInstance="true" 
											 logFilePath="$(dataFolder)/logs/log.error.${date:format=yyyyMMdd}.txt">
						<param name="filePath">$(logFilePath)</param>
						<param name="logLevel">Error</param>
					</errorLogger>
					<warnLogger type="Pintle.Diagnostics.NLog.NLogLogProvider, Pintle.Diagnostics.NLog"
					            singleInstance="true"
					            logFilePath="$(dataFolder)/logs/log.warn.${date:format=yyyyMMdd}.txt">
						<param name="filePath">$(logFilePath)</param>
						<param name="logLevel">Warn</param>
					</warnLogger>
					<debugLogger type="Pintle.Diagnostics.NLog.NLogLogProvider, Pintle.Diagnostics.NLog"
					            singleInstance="true"
					            logFilePath="$(dataFolder)/logs/log.debug.${date:format=yyyyMMdd}.txt">
						<param name="filePath">$(logFilePath)</param>
						<param name="logLevel">Debug</param>
					</debugLogger>
				</providers>
			</logging>
		</pintle>
	</sitecore>
</configuration>